body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: -1px;
}

p {
  font-family: 'Roboto', sans-serif;;
}

a:hover {
  text-decoration: none !important;
}

.grey-background {
  background-color: #FBFBFB;
}

input {
outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
}

/*Navbar Override*/

.dropdown-toggle.nav-link {
  color: black !important;
  font-family: 'PT Sans';
  letter-spacing: 0.5px;
  :hover {
    color: #00CEBC !important;
  }
}

.dropdown-toggle.nav-link {
  color: black !important;
  font-family: 'PT Sans';
  letter-spacing: 0.5px;
  :hover {
    color: #00CEBC !important;
  }
}

.dropdown-toggle::after {
  color: #00CDBC;
  font-size: 1.5em;
  position: absolute;
  bottom: 15px;
}
